#page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

#login-btn {
	border: none;
	color: black;
	font-size: 2em;
	width: 50%;
	padding: 10px;
	border: 1px solid white;
}
