#checkinout {
	font-family: "Futura", "Sans serif";
	width: 80%;
	margin: 0 auto;
	padding-top: 15%;
	max-width: 512px;
	user-select: none;
}

#title {
	text-align: center;
}

#userId {
	text-align: center;
}

.input-wrapper {
	margin: 30px auto;
	border-radius: 3px;
}

h3 {
	text-align: center;
	margin: 5px auto;
}

.submitBtn {
	width: 50%;
	border-radius: 3px;
	text-align: center;
	margin: 0 auto 10vh auto;
	padding: 10px;
	border: 1px solid white;
}

.checkbox-wrapper {
	width: 79%;
	margin: 0 auto;
}

.ready {
	color: black;
	background-color: white;
}

#card {
	display: flex;
	justify-content: center;
	align-items: center;
}

input::-webkit-input-placeholder {
	text-align: center;
}
input::-moz-placeholder {
	text-align: center;
}
input:-ms-input-placeholder {
	text-align: center;
}
input:-moz-placeholder {
	text-align: center;
}
input::placeholder {
	text-align: center;
}

label {
	cursor: pointer;
}

h4 {
	text-align: center;
}
