#page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

#checkinout {
	font-family: "Futura", "Sans serif";
	width: 80vw;
	max-width: 512px;
	user-select: none;
	text-align: center;
}

#title {
	margin: 0;
}

.input-wrapper {
	margin: 1.5rem auto;
}

.checkbox-wrapper {
	width: 80%;
	padding: 3px;
}

.submitBtn {
	width: 50%;
	/* margin: 0 auto 10vh auto; */
	padding: 10px;
	border: 1px solid white;
	background: none;
	font-size: 1rem;
}

.ready {
	color: black;
	background-color: white;
}

#card {
	display: flex;
	justify-content: center;
	align-items: center;
}

input::-webkit-input-placeholder {
	text-align: center;
}
input::-moz-placeholder {
	text-align: center;
}
input:-ms-input-placeholder {
	text-align: center;
}
input:-moz-placeholder {
	text-align: center;
}
input::placeholder {
	text-align: center;
}

label {
	cursor: pointer;
}
